@import "variables";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  display: flex;
  flex-flow: column;

  height: 100%;
  width: 100%;
}

body {
  background: #111111;
}

html, body {
  height: 100vh;
  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 0.5rem;
  transition: background-color 0.25s ease;

  &:hover {
    background: $primary;
  }
}