@import "variables";

#app {
  text-align: center;

  display: flex;
  flex-flow: column;

  height: 100%;
  width: 100%;
}

body {
  background: #111111;
}

html, body {
  height: 100vh;
  width: 100vw;
}

* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    background-color: #333;
    opacity: 0.5;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 0.25rem;
    opacity: 0.5;
  }
}

.input {
  display: flex;
  flex-flow: column;

  &__label {
    display: block;
    text-align: left;
    padding: 0.5rem;
    color: #999;
  }

  &__file {
    display: none;
  }


  &--image {
    font-size: 1.2rem;
    padding: 0.5rem;
    flex: auto;
    border: 5px solid #333;

    background: #333;
    border-radius: 0.5rem;
    outline: none;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-flow: row;
    vertical-align: center;
    justify-content: center;
    color: white;

    &--active, &:focus {
      border-bottom-color: $primary;
    }
  }


  &__value {
    background-color: transparent;
    font-size: 1.2rem;
    border: 5px solid #333;
    border-radius: 0.25rem;
    padding: 0.8rem;
    color: #CCC;
    outline: none;

    &:focus {
      border-bottom-color: $primary;
    }
  }
}


.content {
  flex: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: white;
}

.button {
  cursor: pointer;
  border: 5px solid #222;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  text-decoration: none;

  &--text {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--icon {
    .button__icon {
      height: 1.5rem;
    }
  }

}

.mt {
  margin-top: 1rem;
}
